.code-editor-container {
  display: flex;
  gap: 20px;
}

.code-editor-left,
.code-editor-right {
  flex: 1;
}

.output-console {
  width: 100%;
  height: 340px;
  resize: vertical;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #333; /* Cambia el color de fondo según tu diseño */
}

.navbar button {
  background-color: #4caf50; /* Color de fondo del botón */
  color: white; /* Color de texto del botón */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}