.react-tabs {
    font-family: Arial, sans-serif;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  
  .react-tabs__tab {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    background-color: #777474;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
  }
  
  .react-tabs__tab--selected {
    background-color: #777474;
    border-color: #ccc;
  }
  
  .react-tabs__tab span {
    margin-left: 5px;
    cursor: pointer;
    color: #ff0000; /* Color del icono de cerrar */
  }
  
  /* Estilos para el área de texto */
  .react-tabs__tab-panel {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    resize: none;
  }
  
  .numbered-text-area-container {
    display: flex;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .line-numbers {
    flex-shrink: 0;
    padding: 0.5em 1em;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    text-align: right;
  }
  
  .text-area {
    width: 100%;
    border: none;
    padding: 0.5em;
  }
  
  .text-area2 {
    width: 100%;
    border: none;
    padding: 0.5em;
    color: black;
  }